<header class="sticky top-0 z-50 flex flex-col md:flex-row justify-between items-center pb-10 md:pb-20 w-full max-w-full xl:w-[1220px] mx-auto pt-6 gap-4 md:gap-0 px-4">
    <img class="rounded-full w-10 h-10 sm:w-12 sm:h-12" src="/mi-portfolio/assets/Icono.ico" alt="photo">
    <nav class="flex flex-col md:flex-row gap-y-2 md:gap-y-0 md:gap-x-6 opacity-80 w-full md:w-auto">
        <a href="/mi-portfolio/inicio" class="rounded-full border flex border-white/10 justify-center items-center gap-x-2 py-2 px-4 backdrop-blur-md bg-white/10 hover:scale-110 transition-transform duration-500 ease-in-out hover:bg-white/30 hover:text-black hover:font-semibold text-sm sm:text-base w-full md:w-auto">Inicio</a>
        <a href="/mi-portfolio/experiencia" class="rounded-full border flex border-white/10 justify-center items-center gap-x-2 py-2 px-4 backdrop-blur-md bg-white/10 hover:scale-110 transition-transform duration-500 ease-in-out hover:bg-white/30 hover:text-black hover:font-semibold text-sm sm:text-base w-full md:w-auto">Experiencia</a>
        <a href="/mi-portfolio/proyectos" class="rounded-full border flex border-white/10 justify-center items-center gap-x-2 py-2 px-4 backdrop-blur-md bg-white/10 hover:scale-110 transition-transform duration-500 ease-in-out hover:bg-white/30 hover:text-black hover:font-semibold text-sm sm:text-base w-full md:w-auto">Proyectos</a>
        <a href="/mi-portfolio/contacto" class="rounded-full border flex border-white/10 justify-center items-center gap-x-2 py-2 px-4 backdrop-blur-md bg-white/10 hover:scale-110 transition-transform duration-500 ease-in-out hover:bg-white/30 hover:text-black hover:font-semibold text-sm sm:text-base w-full md:w-auto">Contacto</a>
    </nav>
</header>
